body{
    font-family: 'Caprasimo', cursive;
}

.footer {
    background-color: black;
    color: rgb(195, 173, 216);
    border-bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    margin: 1px;
  }