.formulario {
    font-family: inherit;
    background-image: url(../img/humorosa.jpg);
    border-radius: 1rem;
    justify-content: center;
    width: 40%;
    text-align: left;
    margin: 70px;

}
